:root {
  interpolate-size: allow-keywords;
}

body {
  font-family: var(--ff-serif);
  color: var(--clr-neutral-700);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-neutral-900);
}

figcaption {
  font-family: var(--ff-sans-serif);
  margin-block-start: 0.25rem;
}

details {
  border: 1px solid var(--clr-neutral-200);
  margin-block-start: -1px;
  overflow: hidden;

  &:first-of-type {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &::details-content {
    block-size: 0;
    transition: block-size 0.2s ease-in-out, content-visibility 0.2s ease-in-out;
    transition-behavior: allow-discrete;
  }

  &:open::details-content {
    block-size: auto;
  }

  &:open summary svg {
    rotate: 180deg;
  }

  summary {
    cursor: pointer;
    padding: 1rem;
    font-family: var(--ff-sans-serif);
    color: var(--clr-neutral-900);
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      transition: 0.2s ease-in-out;
    }
  }
}
