---
import Container from "../../components/container.astro";
---

<section class="bg-primary-50 pt-48 pb-24 md:pt-64 md:pb-32">
  <Container class="grid grid-cols-5">
    <div class="col-span-5 md:col-span-2">
      <h1 class="mb-2 text-5xl text-neutral-900">Die Burg</h1>
      <p class="mb-4 font-sans font-medium text-neutral-600 uppercase md:mb-0">
        Entdecken Sie Geschichte
      </p>
    </div>

    <p class="col-span-5 text-xl md:col-span-3 md:text-3xl">
      Die Burg Rötteln, weithin sichtbare Spornburg über Lörrach-Haagen, zählt
      zu den imposantesten mittelalterlichen Festungen im äußersten Südwesten
      Baden-Württembergs und ist mit ihren zwei Wehrtürmen die drittgrößte
      Burgruine Badens
    </p>
  </Container>
</section>
