---
import Container from "../../components/container.astro";
---

<Container tag="section" class="py-24 lg:py-40">
  <p class="text-3xl text-neutral-900 md:text-4xl">
    Mit ihrer gut dokumentierten Struktur und der offenen Ruinenform ist Burg
    Rötteln ein eindrucksvoller Ort für alle, die sich für Architektur,
    Burgenbau und mittelalterliches Leben interessieren – und ein stiller Zeuge
    einer längst vergangenen Epoche.
  </p>
</Container>
