---
import { getImage } from "astro:assets";
import background from "../../assets/images/main-hero.webp";
import Button from "../../components/button.astro";
import Container from "../../components/container.astro";

const optimizedBackground = await getImage({ src: background, format: "webp" });
---

<section
  class="bg-primary-50 flex max-h-[55rem] flex-col justify-end bg-cover bg-center bg-no-repeat pt-32 pb-8 sm:h-[75vw] sm:pt-0 md:justify-center md:pb-0"
  style={`background-image: url(${optimizedBackground.src})`}
>
  <Container class="w-full">
    <h1
      class="mb-4 text-4xl text-balance text-gray-900 md:text-5xl lg:max-w-1/2"
    >
      Willkommen auf der Burgruine Rötteln
    </h1>
    <p class="mb-6 text-xl md:mb-14 md:text-2xl lg:max-w-1/2">
      Eine der größten und imposantesten Burgruinen Südbadens wartet auf Ihre
      Erkundung.
    </p>

    <div class="flex flex-wrap gap-2">
      <Button href="/burg">Mehr über die Burg &rarr;</Button>
      <Button href="/besuchen" variant="secondary"
        >Planen Sie Ihren Besuch &rarr;</Button
      >
    </div>
  </Container>
</section>
