---
import Container from "../../components/container.astro";
---

<section class="pb-24 lg:pb-40" id="eintrittspreise">
  <Container>
    <h2 class="text-5xl text-neutral-900 md:text-center">Eintrittspreise</h2>
    <p class="text-2xl md:text-center">
      Eintrittskarten können nur vor Ort an der Kasse erworben werden.
    </p>

    <ul class="mt-16 space-y-3 text-xl md:mx-auto md:max-w-lg">
      <li class="flex justify-between">
        Erwachsene ab 14 Jahren: <b class="font-bold text-neutral-900">3,00€</b>
      </li>
      <li class="flex justify-between">
        <span
          >Schüler und Studenten:<br /><i>Schülerausweis wird benötigt</i></span
        ><b class="font-bold text-neutral-900">2,50€</b>
      </li>
      <li class="flex justify-between">
        Kinder unter 6 Jahren: <b class="font-bold text-neutral-900"
          >kostenlos</b
        >
      </li>
      <li class="flex justify-between">
        Kinder ab 6 bis 14 Jahren: <b class="font-bold text-neutral-900"
          >1,50€</b
        >
      </li>
      <li class="flex justify-between">
        <span
          >Gruppen (ab 20 Personen):<br />
          <i>Der Eintrittspreis richtet sich pro Person</i></span
        ><b class="font-bold text-neutral-900">2,50€</b>
      </li>
    </ul>
  </Container>
</section>
