---
import Container from "../../components/container.astro";
---

<section class="py-24 lg:py-40" id="veranstaltungen">
  <Container>
    <h2 class="mb-16 text-center text-5xl text-neutral-900">
      Veranstaltungen 2025
    </h2>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 opacity-50 transition-opacity hover:opacity-100 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >ab 24. Januar</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          Ausstellung zu den Bauernkriegen
        </h3>
        <p class="text-xl">
          Beginn der <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.dreilaendermuseum.eu/de/anschauen/sonderausstellungen/"
            >Ausstellung zu den Bauernkriegen</a
          > im Dreiländermuseum (Umbrüche 1525 - Bauernkrieg & Täuferbewegung) bis
          25. Mai.
        </p>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 opacity-50 transition-opacity hover:opacity-100 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >9. März</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          Fasnachtsfeuer beim Röttler Parkplatz
        </h3>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 opacity-50 transition-opacity hover:opacity-100 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >28. März</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            href="/fuehrungen/burgwaechterrundgang">1. Öffentlicher Rundgang</a
          > mit dem Burgwächter
        </h3>
      </div>
    </article>

    <article
      class="border-primary-300 to-primary-50 relative mb-12 grid-cols-6 gap-8 border-b bg-gradient-to-b from-white pb-12 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >1. Mai<span class="block text-base font-normal text-neutral-500"
          >11:00</span
        ></time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">1. Mai Hock auf Rötteln</h3>
        <p
          class="text-primary-500 absolute right-0 bottom-2 font-sans text-sm font-medium uppercase"
        >
          Nächste Veranstaltung
        </p>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >3. - 4. Mai</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://longbowteam.de/3d-jagdturnier/ergebnisse"
            >3D-Jagdturnier</a
          > vom Long Bow Team Minseln rund um die Burgruine Rötteln
        </h3>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >24. - 25. Mai<span class="block text-base font-normal text-neutral-500"
          >11:00 & 15:00
        </span></time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.dreilaendermuseum.eu/de/anschauen/sonderausstellungen/"
            >Öffentliche Sonderführungen</a
          >
        </h3>
        <p class="text-xl">
          Über die Burgruine anlässlich der Besetzung der Burg durch die
          bäuerliche Bevölkerung.
        </p>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >ab 20. Juni</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://burgfestspiele-roetteln.de/">Burgfestspiele Rötteln</a
          >
        </h3>
        <p class="text-xl">
          Immer Freitag und Samstagabend.<br />Dieses Jahr: "Tartuffe der
          Betrüger", Eine Komödie über Scheinheiligkeit, Manipulation und
          Hörigkeit<br />Das letzte Event findet am 2. August statt.
        </p>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >7. September</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.hochburg.de/">Hochburgfest</a
          > auf der Hochburg bei Emmendingen
        </h3>
      </div>
    </article>

    <article
      class="mb-12 grid-cols-6 gap-8 border-b border-neutral-300 pb-12 md:grid"
    >
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >14. September</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.tag-des-offenen-denkmals.de/"
            >Tag des offenen Denkmals</a
          >
        </h3>
        <p class="text-xl">
          Öffentliche Sonderführungen, die einen Einblick in die Arbeit hinter
          die Kulissen vom Röttelnbund e.V. ermöglichen.
        </p>
      </div>
    </article>

    <article class="grid-cols-6 gap-8 md:grid">
      <time
        datetime="2025-01-24"
        class="col-span-2 mt-1 font-sans text-lg font-medium whitespace-nowrap uppercase lg:col-span-1"
        >24. Oktober</time
      >
      <div class="col-span-4 lg:col-span-5">
        <h3 class="mb-2 text-3xl text-neutral-900">
          <a
            class="underline transition-colors hover:text-neutral-600 focus-visible:text-neutral-600"
            href="/fuehrungen/burgwaechterrundgang">2. Öffentlicher Rundgang</a
          > mit dem Burgwächter
        </h3>
      </div>
    </article>
  </Container>
</section>
